{
	email {$ACME_EMAIL}
	admin off
}

{$SITE_ADDRESS} {
	encode zstd gzip

	@root path /
	redir @root /live.html 302

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		-Server
	}

	log {
		output stdout
		format json
	}

	reverse_proxy web:10000
}
